<footer class="site-footer">
  <div class="wrapper">
    <p style="margin-bottom: 0.5em;">© {{ site.time | date: "%Y" }} {{ site.title }}</p>
    <div class="social-icons">
      <a href="mailto:wei.zhou3317@gmail.com" title="Email" aria-label="Email">
        <i class="fas fa-envelope"></i>
      </a>
      <a href="https://github.com/Zzzzzzzw-17" target="_blank" title="GitHub" aria-label="GitHub">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/wei-zhou-12518b186" target="_blank" title="LinkedIn" aria-label="LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://orcid.org/0009-0006-8617-8337" target="_blank" title="ORCID" aria-label="ORCID">
        <i class="fab fa-orcid"></i>
      </a>
    </div>
  </div>
</footer>
